.FilterTweets {
    display: flex;
    flex-direction: column;
    border: 3px ridge #0f0f0f;
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 5%;
    padding: 5px;
    height: 80%;
    width: 50%;
}

.total-tweets {
    width: 100%;
    align-content: center;
    flex-shrink: 1;
}

.input-filter {
    flex-wrap: nowrap;
    height: 20px;
    margin-bottom: 5px;
}

button {
    height: 30px;
}

.input-filter:focus {
    background-color: #ddf;
    font-weight: bold;
}

.filtered-content {
    flex-shrink: 3;
    border: 2px solid #333;
    overflow: auto;
}
