.News {
    display: flex;
    flex-direction: row;
    border: 2px ridge #5e5;
    padding: 5px;
    border-radius: 5%;
    background: white;
}

.news-desc {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 75%;
    margin: 5px;
}

.news-desc > p > a {
    font-size: 20px;
    font-weight: bold;
}

.news-desc > i {
    font-size: 12px;
    color: #555;
}

.news-desc > small {
    color: #0f0;
}

.news-desc > small > u, small > b {
    color: #e55;
}

