<!DOCTYPE html>
<html>
    <head>
        <title>1st Project</title>
    </head>

    <body>
        <h1>My TODO List</h1>
        <div id="view-container"></div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
        </script>
        <script src="mvc/model/TodoModel.js" type="text/javascript"></script>
        <script src="mvc/view/TodoView.js" type="text/javascript"></script>
        <script src="mvc/controller/TodoController.js" type="text/javascript"></script>
        <script src="mvc/app.js" type="text/javascript"></script>
    </body>
</html>